<nav class="navbar">
    <div class="logo">
      <a routerLink="/">Pedacito Burger</a>
    </div>

    <!-- Botón hamburguesa -->
    <button class="hamburger" (click)="toggleMenu()">
      &#9776;
    </button>

    <ul [class]="isMenuOpen ? 'nav-links active' :'nav-links'">
      <li><a routerLink="/" routerLinkActive="ddd">Inicio</a></li>
      <li><a routerLink="/menu" routerLinkActive="ddd">Menú</a></li>
      <li><a routerLink="/locations" routerLinkActive="ddd">Ubicaciones</a></li>
      <li><a routerLink="/about" routerLinkActive="ddd">Sobre Nosotros</a></li>
    </ul>
  </nav>


  
