<section class="locations-section">
    <h2>Nuestras Sedes</h2>
  
    <div class="locations-container">
      <div class="location-card">
        <h3>Sede Principal</h3>
        <p>Calle 49 #42-10, Medellín</p>
        <h3>Horario:</h3>
        <p>lunes-jueves 5:00 10:00 - viernes-domingo 12:00 10:00</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6500350496767!2d-75.57432758573546!3d6.238799895509504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442a43d1d2f93f%3A0xd5562e2a65e6c7f3!2sCalle%2049%20%2342-10%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1715103430000"
          width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      









      
  
      <!--<div class="location-card">
        <h3>Sede Poblado</h3>
        <p>Calle 10 #43A-34, Medellín</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.596716823902!2d-75.572306!3d6.246734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442829e3c4826f%3A0xe6e6e3d02ea35595!2sEl%20Poblado%2C%20Medell%C3%ADn!5e0!3m2!1ses!2sco!4v1680209276224"
          width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
      </div>-->
    </div>
  </section>
  
  