<section class="hero">
  <div class="hero-content">
    <!-- Contenedor de la imagen -->
    <div class="hero-image">
      <img src="/images/Burger_inicio.png" alt="Logo de Pedacito Burger" class="hero-logo">
    </div>

    <!-- Contenedor del texto -->
    <div class="hero-text">
      <h1>¡Bienvenido a <span>Pedacito burger</span>!</h1>
      <p>Deliciosas hamburguesas artesanales con los mejores ingredientes.</p>
      <a routerLink="/menu" class="btn-primary">Ver Menú</a>
    </div>
  </div>
</section>

  
